@page "{id:int?}"
@model HotelManagement.Pages_Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.EnrollmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.EnrollmentDate)
        </dd>
                <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Reservations)
        </dt>
        <dd class="col-sm-10">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Hotel Name</th>
                    <th scope="col">Class</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Customer.Reservations)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hotel.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Class)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
